<div class="container">
  <main class="main">
    <div class="content">
      <h2>What you need to do?</h2>
      <app-notes [filterType]=filter></app-notes>
    </div>
    <div class="button-container">
      <button  class="btn" (click)="switchFilterOn('all', true)" [ngClass]="{isAll: isAll}">All</button>
      <button class="btn new" (click)="openDialog()">New</button>
      <button class="btn" (click)="switchFilterOn('completed', false)" [ngClass]="{isAll: !isAll}">Completed</button>
    </div>

    <div class="newNoteContainer" [hidden]="isHidden">
      <h2>Write down content of your new note</h2>
      <input class="textInput" type="text" [(ngModel)]="noteContent"/>
      <br>
      <div class="button-container">
        <button (click)="addNote()">Add</button>
        <button (click)="cancel()">Cancel</button>
      </div>
    </div>
  </main>
</div>